.container
  .col-xs-12.col-sm-8.col-sm-offset-2
    .panel.panel-default
      .panel-heading.panel-heading-login
        %h3
          %span.glyphicon.glyphicon-edit
          Edit #{resource_name.to_s.humanize}
      .panel-body 
        = simple_form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }, wrapper: :horizontal_input_group) do |f|
          = f.error_notification
          .form-inputs
            .row
              = f.input :email, required: true, autofocus: true
            - if devise_mapping.confirmable? && resource.pending_reconfirmation?
              %p
                Currently waiting confirmation for: #{resource.unconfirmed_email}
            .row
              = f.input :password, autocomplete: "off", hint: "leave it blank if you don't want to change it", required: false
            .row
              = f.input :password_confirmation, required: false, label: "Confirm password"
            .row
              = f.input :current_password, hint: "we need your current password to confirm your changes", required: true
          .form-actions
            = f.button :submit, "Update"
        %hr
        %h3 Cancel my account
        %p
          Unhappy? #{link_to "Cancel my account", registration_path(resource_name), data: { confirm: "This action will delete your account, are you sure?" }, method: :delete}
        = link_to "Back", :back
