.container
  .col-xs-12.col-sm-6.col-sm-offset-3
    .panel.panel-default
      .panel-heading.panel-heading-login
        %h3
          %span.glyphicon.glyphicon-log-in
          Log-in
      .panel-body
        = simple_form_for(resource, as: resource_name, url: session_path(resource_name), wrapper: :horizontal_input_group) do |f|
          .col-xs-12.col-sm-10.col-sm-offset-1
            .form-inputs
              %span.row
                = f.input :email, required: false, autofocus: true
              %span.row
                = f.input :password, required: false
              %span
                = f.input :remember_me, as: :boolean if devise_mapping.rememberable?              
            .form-actions
              = f.button :submit, "Sign in"
              or    
              = render "devise/shared/links"
            %br
