.container
  .row
    %div{:class => "col-md-12"}
      %b
        %p#notice= notice
        %p#error= flash[:error]

  .row
    %div{:class => "col-md-4"}
      .panel.panel-default
        .panel-heading.panel-heading-product        
          %h3
            %b
              = product.title
            .small
              product
        .panel-body
          %h4
            .small
              description:
            = product.description
            %p
              .small
                price:
              = product.price
            %p
              .small
                category:
              = product.category.name
            %p
              .small
                added by:
              = product.user.firstname + ' ' + product.user.lastname
              - if product.user.admin?
                (admin)
            %p
              = link_to 'Back to category', category_products_path, class: 'btn btn-default'
              = link_to 'Edit product', edit_category_product_path(category.id, product.id), class: 'btn btn-default'
            %hr
            .panel.panel-default
              .panel-body
                = render 'reviews/form'

    %div{:class => "col-md-8"}
      .panel.panel-default
        .panel-heading.panel-heading-review
          %h4 
            reviews
            .small
              average rating:
              = product.average_rating
        .panel-body.panel-list
          - if product.reviews.size == 0
            can't find any reviews of this product!
          = render reviews
