.container
  .row
    %div{:class => "col-md-12"}
      %b
        %p#notice= notice
        %p#error= flash[:error]

  .row
    %div{:class => "col-md-4"}
      .panel.panel-default
        .panel-heading.panel-heading-product        
          %h3
            %b
              = product.title
            .small
              product
        .panel-body
          %h4
            .small
              description:
            = product.description
            %br
            %br
            .small
              price:
            = product.price
            %br
            %br
            .small
              category:
            = product.category.name
            %br
            %br
            .small
              added by:
            = product.user.firstname + ' ' + product.user.lastname
            - if product.user.admin?
              (admin)
            %br
            %br
            = link_to 'Back to list', category_products_path, class: 'btn btn-primary'
            = link_to 'Edit product', edit_category_product_path(category.id, product.id), class: 'btn btn-primary'
            %br
            %br
            .panel.panel-default
              .panel-body
                = render 'reviews/form'

    %div{:class => "col-md-8"}
      .panel.panel-default
        .panel-heading.panel-heading-review
          %h4 
            reviews
            .small
              average rating:
              = product.average_rating
        .panel-body
          - if product.reviews.size == 0
            can't find any reviews of this product!
          = render reviews
