!!!
%html{ lang: 'en' }
  %head
    %meta{ charset: 'utf-8' }/
    %meta{ content: 'IE=Edge,chrome=1', 'http-equiv' => 'X-UA-Compatible' }/
    %meta{ content: 'width=device-width, initial-scale=1.0', name: 'viewport' }/
    = csrf_meta_tags
    = stylesheet_link_tag 'application', media: 'all'
    = javascript_include_tag 'application'

  %body
    %nav.navbar.navbar-inverse
      .container-fluid
        .navbar-header
          %span.navbar-brand #{AppConfig.workshops_name}
        %div
          /     %a{:href => "#"} categories
          /   %li
          /     %a{:href => "#"} Page 1
          /   %li
          /     %a{:href => "#"} Page 2
          /   %li
          /     %a{:href => "#"} Page 3
          %ul.nav.navbar-nav.navbar-right
            %li
              %a{:href => categories_path}
                %span.glyphicon.glyphicon-home
                Categories
            %li
              - if user_signed_in?
                %a{:href => profile_path}
                  %span.glyphicon.glyphicon-user
                  Profile
                %li
                  %a{"data-method" => "delete", :href => destroy_user_session_path, :rel => "nofollow"}
                    %span.glyphicon.glyphicon-log-out
                    Log-out 
              - else
                %a{:href => new_user_session_path}
                  %span.glyphicon.glyphicon-log-in
                  Log-in
          %ul.nav.navbar-nav.navbar-right
            - if signed_in? && current_user.admin?
              %p.small.navbar-text logged as Admin
    .container
      .row
        .col-lg-12
          = yield
